<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="/createUser" class="com.underground.action.CreateUserAction"/>
    <bean name="/updateUser" class="com.underground.action.UpdateUserAction"/>
    <bean name="/deleteUser" class="com.underground.action.DeleteUserAction"/>
    <bean name="/changePasswdUser" class="com.underground.action.ChangePasswdUserAction"/>
    <bean name="/detailUser" class="com.underground.action.FormUpdateUserAction"/>
    <bean name="/inputUser" class="com.underground.action.FormCreateUserAction"/>
    <bean name="/detailChangePasswdUser" class="com.underground.action.FormChangePasswdUserAction"/>
    <bean name="/testUser" class="com.underground.action.TestUserAction"/>

    <bean id="commonAspect" class="com.underground.aspect.CommonAspect" />
    <bean id="pointcutArchitecture" class="com.underground.aspect.PointcutArchitecture" />

    <bean id="userDao" class="com.underground.dao.UserDaoImpl" />
</beans>