<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="/createUser" class="com.java.underground.action.CreateUserAction"/>
    <bean name="/updateUser" class="com.java.underground.action.UpdateUserAction"/>
    <bean name="/deleteUser" class="com.java.underground.action.DeleteUserAction"/>
    <bean name="/changePasswdUser" class="com.java.underground.action.ChangePasswdUserAction"/>
    <bean name="/detailUser" class="com.java.underground.action.DetailUserAction"/>
    <bean name="/inputUser" class="com.java.underground.action.InputUserAction"/>
    <bean name="/detailChangePasswdUser" class="com.java.underground.action.DetailChangePasswdUserAction"/>

</beans>